# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore log files
*.log

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for yarn
yarn.lock

# Ignore .DS_Store files (macOS)
.DS_Store

# Ignore .vscode directory
.vscode/

# ignore js files
*.js
stepData/generated/*
